.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(120, 74, 163);
    color: floralwhite;
}

.row-header {
    padding: 20px 50px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgb(216, 200, 216);
    margin: 50px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
}

/* .footer {
    background-color: lightgrey;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
} */

footer.container {
    margin: 10px auto;
    padding: 10px auto;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}